<div class="content">
  <div class="nes-container with-title is-centered is-rounded">
    <h1 class="title">Naomi Carrigan</h1>
    <img class="avatar" src="https://cdn.nhcarrigan.com/profile.png" alt="Naomi's profile picture." />
    <p>
      As you approach, a woman in a suit walks up to you. She flips through some
      papers on the clipboard she is holding.
    </p>
    <div
      class="nes-container with-title is-centered is-dark is-rounded dialogue"
    >
      <img
        src="assets/img/melody/smile.png"
        class="face"
        alt="A woman with teal-green hair pulled up in a tight bun, her left eye green and her right eye cyan, wearing a grey suit with a blue bow."
      />
      <p>Ah yes, we were expecting a visitor today.</p>
    </div>
    <p>She looks up from the clipboard to meet your confused gaze.</p>
    <div
      class="nes-container with-title is-centered is-dark is-rounded dialogue"
    >
      <img
        src="assets/img/melody/think.png"
        class="face"
        alt="A woman with teal-green hair pulled up in a tight bun, her left eye green and her right eye cyan, wearing a grey suit with a blue bow."
      />
      <p>
        Now then, were you here to see Naomi's work? Or did you want to learn
        more about her?
      </p>
    </div>
    <p>
      She hands you a small pamphlet, which explains that this site is Naomi's
      personal site (styled like an old text adventure game). If you want to see
      her work, you'll need to go to her professional site.
    </p>
  </div>
  <a class="nes-btn" href="https://www.nhcarrigan.com">See Naomi's work</a>"
  <a class="nes-btn" routerLink="/approach">Learn more about her</a>
</div>
