<div class="content">
  <div class="nes-container with-title is-centered is-rounded">
    <h1 class="title">Naomi Carrigan</h1>
    <img src="https://cdn.nhcarrigan.com/profile.png" alt="" />
    <p>
      Welcome to Naomi Carrigan's portfolio site. This website is about Naomi's
      personal interests and endeavours.
    </p>
    <p>
      The website is styled like a retro text-based adventure game. You'll be
      able to explore the "land" to learn more about Naomi.
    </p>
    <p>
      If you came here looking for her work, you're actually at the wrong site.
      Use the buttons below to visit the other site, or continue browsing this
      one.
    </p>
  </div>
  <a class="nes-btn" href="https://www.nhcarrigan.com">See Naomi's work</a>"
  <a class="nes-btn" routerLink="/approach">Explore this site</a>
</div>
