<div class="content">
  <div id="welcome" class="nes-container with-title is-centered is-rounded">
    <h2 class="title">Welcome</h2>
    <p>
      It has been a long journey, but you have finally arrived at Naomi's
      Domain. Feeling relieved, you reach into your pack and pull out a map of
      the area, to determine where to go next. There seem to be a few places of
      interest:
    </p>
    <ul>
      <li>
        Over at the <strong>Library</strong>, you could read up on Naomi's
        history and background.
      </li>
      <li>
        Sounds of battle can be heard from the <strong>Arena</strong>, where
        Naomi is in frequent battle with bugs.
      </li>
      <li>
        The <strong>Tavern</strong> would be the place to go to socialise with
        your fellow travellers.
      </li>
      <li>Great works of art can be seen in the <strong>Museum</strong>.</li>
      <li>
        If you wish to see past adventures and brush up on your adventuring
        abilities, spend some time in the <strong>Training Hall</strong>.
      </li>
      <li>
        You've heard that people sometimes choose to make a donation to the
        <strong>Temple</strong>, so that the work done in this land can
        continue.
      </li>
    </ul>
    <p>Where wouldst thou go?</p>
  </div>
  <a class="nes-btn" routerLink="/library">Library</a>
  <a class="nes-btn" routerLink="/arena">Arena</a>
  <a class="nes-btn" routerLink="/tavern">Tavern</a>
  <a class="nes-btn" routerLink="/museum">Museum</a>
  <a class="nes-btn" routerLink="/training-hall">Training Hall</a>
  <a class="nes-btn" routerLink="/temple">Temple</a>
</div>
