select {
  display: block;
  margin: auto;
}

.outfit {
  width: 100%;
  display: grid;
  grid-template-rows: auto auto;
  align-items: center;
  word-break: normal;
  overflow-wrap: anywhere;
}

.outfit-img {
  width: 100%;
}

.modal {
  max-width: 500px;
  max-height: 100vh;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.modal::-webkit-scrollbar {
  display: none;
}

.modal-bg {
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: none;
  background-color: rgba(0, 0, 0, 0.5);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
