.outfit {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}

.outfit-img {
  max-width: 250px;
}

@media (max-width: 500px) {
  .outfit-img {
    max-width: 100px;
  }
}
