<div class="content">
  <div class="nes-container with-title is-centered is-rounded">
    <h1 class="title">Confessional</h1>
    <p>
      The confessional booth allows you to share whatever private thoughts you'd
      like with Naomi. You can ask questions, share secrets, and more - and it's
      all anonymous!
    </p>
    <p>Would you like to enter?</p>
  </div>
  <a class="nes-btn" href="https://anon.naomi.lgbt">Enter the Confessional</a>
  <a class="nes-btn" routerLink="/plaza">Return to the Plaza</a>
</div>
