<div class="content">
  <div class="nes-container with-title is-centered is-rounded">
    <h1 class="title">Melody's Office</h1>
    <p>
      You enter a small office. Within is a desk with a laptop. Aside from some
      pictures on the wall, the office is pretty bland and drab.
    </p>
    <div
      class="nes-container with-title is-centered is-dark is-rounded dialogue"
    >
      <img
        src="assets/img/melody/blush.png"
        class="face"
        alt="A woman with teal-green hair pulled up in a tight bun, her left eye green and her right eye cyan, wearing a grey suit with a blue bow."
      />
      <p>There's really not much to look at here...</p>
    </div>
    <p>You head over to the wall to look at the photos.</p>
    <p>
      There are <strong>{{ poses.length }}</strong> pictures to see.
    </p>
    <div
      class="nes-container is-rounded is-centered is-dark pose"
      *ngIf="poses.length"
    >
      <a
        href="https://cdn.naomi.lgbt/melody/koikatsu/{{
          poses[currentPoseIndex].fileName
        }}"
        target="_blank"
      >
        <img
          src="https://cdn.naomi.lgbt/melody/koikatsu/{{
            poses[currentPoseIndex].fileName
          }}"
          alt="{{ poses[currentPoseIndex].alt }}"
          class="pose-img"
        />
      </a>
      <div class="pose-description">
        <h2>{{ poses[currentPoseIndex].name }}</h2>
        <p>{{ poses[currentPoseIndex].description }}</p>
      </div>
    </div>
    <button class="nes-btn" (click)="previousPose()">Previous Photo</button>
    <button class="nes-btn is-primary" (click)="randomPose()">
      Random Photo
    </button>
    <button class="nes-btn" (click)="nextPose()">Next Photo</button>
    <select #pose (change)="selectPose(pose.value)">
      <option disabled>Jump to Photo</option>
      <option
        *ngFor="let pose of poses; let i = index"
        [value]="i"
        [selected]="i === currentPoseIndex"
      >
        {{ pose.name }}
      </option>
    </select>
  </div>
  <a class="nes-btn" routerLink="/plaza">Leave the office</a>
</div>
