select {
  display: block;
  margin: auto;
}

.ref-img {
  width: 100%;
}

.content-grid img {
  height: 350px;
}

.content-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-items: center;
  margin: 10px 0;
}

.content-grid div {
  height: 100%;
}

.tattoo img {
  height: auto;
  width: 100%;
}
