<div class="content">
  <div class="nes-container with-title is-centered is-rounded">
    <h1 class="title">Town Plaza</h1>
    <p>
      Melody leads you to the town plaza, which is a bustle of activity. There
      are merchant stalls lining the streets, and people milling about as they
      head to their destinations.
    </p>
    <p>
      In the centre of the plaza, a large and glamorous fountain catches your
      eye. More importantly, there appears to be some sort of notice board next
      to it.
    </p>
    <p>
      You approach the notice board, where a map of the city is available.
      Melody walks up next to you.
    </p>
    <div
      class="nes-container with-title is-centered is-dark is-rounded dialogue"
    >
      <img
        src="assets/img/melody/smile.png"
        class="face"
        alt="A woman with teal-green hair pulled up in a tight bun, her left eye green and her right eye cyan, wearing a grey suit with a blue bow."
      />
      <p>Ah yes, allow me to explain the layout of our city.</p>
    </div>
    <p>
      Melody begins pointing at different locations on the map, explaining what
      each of them is for.
    </p>
    <div
      class="nes-container with-title is-centered is-dark is-rounded dialogue"
    >
      <img
        src="assets/img/melody/explain.png"
        class="face"
        alt="A woman with teal-green hair pulled up in a tight bun, her left eye green and her right eye cyan, wearing a grey suit with a blue bow."
      />
      <p>
        Over at the <strong>Library</strong>, you could read up on Naomi's
        history and background.
      </p>
    </div>
    <div
      class="nes-container with-title is-centered is-dark is-rounded dialogue"
    >
      <img
        src="assets/img/melody/explain.png"
        class="face"
        alt="A woman with teal-green hair pulled up in a tight bun, her left eye green and her right eye cyan, wearing a grey suit with a blue bow."
      />
      <p>
        The <strong>Tavern</strong> would be the place to go to socialise with
        your fellow travellers.
      </p>
    </div>
    <div
      class="nes-container with-title is-centered is-dark is-rounded dialogue"
    >
      <img
        src="assets/img/melody/explain.png"
        class="face"
        alt="A woman with teal-green hair pulled up in a tight bun, her left eye green and her right eye cyan, wearing a grey suit with a blue bow."
      />
      <p>Great works of art can be seen in the <strong>Museum</strong>.</p>
    </div>
    <div
      class="nes-container with-title is-centered is-dark is-rounded dialogue"
    >
      <img
        src="assets/img/melody/explain.png"
        class="face"
        alt="A woman with teal-green hair pulled up in a tight bun, her left eye green and her right eye cyan, wearing a grey suit with a blue bow."
      />
      <p>
        If you wish to see past adventures and brush up on your adventuring
        abilities, spend some time in the <strong>Training Hall</strong>.
      </p>
    </div>
    <div
      class="nes-container with-title is-centered is-dark is-rounded dialogue"
    >
      <img
        src="assets/img/melody/explain.png"
        class="face"
        alt="A woman with teal-green hair pulled up in a tight bun, her left eye green and her right eye cyan, wearing a grey suit with a blue bow."
      />
      <p>
        The <strong>Tailor</strong> is where you can find some of Naomi's
        typical clothing sets.
      </p>
    </div>
    <div
      class="nes-container with-title is-centered is-dark is-rounded dialogue"
    >
      <img
        src="assets/img/melody/explain.png"
        class="face"
        alt="A woman with teal-green hair pulled up in a tight bun, her left eye green and her right eye cyan, wearing a grey suit with a blue bow."
      />
      <p>
        People sometimes choose to make a donation to the
        <strong>Temple</strong>, so that the work done in this land can
        continue.
      </p>
    </div>
    <div
      class="nes-container with-title is-centered is-dark is-rounded dialogue"
    >
      <img
        src="assets/img/melody/explain.png"
        class="face"
        alt="A woman with teal-green hair pulled up in a tight bun, her left eye green and her right eye cyan, wearing a grey suit with a blue bow."
      />
      <p>Then there is <strong>my office</strong>, where I plan my work.</p>
    </div>
    <p>Where wouldst thou geau?</p>
  </div>
  <a class="nes-btn" routerLink="/library">Library</a>
  <a class="nes-btn" routerLink="/tavern">Tavern</a>
  <a class="nes-btn" routerLink="/museum">Museum</a>
  <a class="nes-btn" routerLink="/training-hall">Training Hall</a>
  <a class="nes-btn" routerLink="/tailor">Tailor</a>
  <a class="nes-btn" routerLink="/temple">Temple</a>
  <a class="nes-btn" routerLink="/melody">Melody's Office</a>
</div>
