<div class="content">
  <div class="nes-container with-title is-centered is-rounded">
    <h1 class="title">Socials</h1>
    <p>
      You can find Naomi primarily on these platforms. Visit the tavern to see
      ALL of her verified accounts.
    </p>
  </div>
  <a
    class="social"
    *ngFor="let social of data"
    href="{{ social.url }}"
    (mouseenter)="social.hover = true"
    (mouseleave)="social.hover = false"
    [ngStyle]="
      social.hover
        ? {
            background: social.text,
            color: social.background,
            'border-color': social.background
          }
        : {
            background: social.background,
            color: social.text,
            'border-color': social.text
          }
    "
  >
    <fa-icon [icon]="social.icon"></fa-icon>
    <p>{{ social.name }}</p>
  </a>
  <a class="nes-btn" routerLink="/plaza">Explore more about Naomi</a>
</div>
