@font-face {
  font-family: "Precious";
  src: url("./assets/fonts/precious.ttf");
}

:root {
  font-size: 24pt;
  cursor: url("https://cdn.nhcarrigan.com/cursors/cursor.cur"), default;
}

body {
  font-family: "Precious";
  color: #aea8de;
  background-color: #3a3240;
  text-align: center;
}

a,
a:visited {
  cursor: url("https://cdn.nhcarrigan.com/cursors/pointer.cur"), pointer;
  color: #aea8de;
}
